/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}
.entire-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
}

/* 제목 스타일 */
.nav_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  nav {
    display: flex;
    gap: 10px;

    a {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin: 20px 10px;
      padding-bottom: 10px;
      text-decoration: none;
      color: #888888;
      &.active {
        color: #1f3f62;
        border-bottom: 4px solid #1f3f62;
        border-radius: 4px;
      }
    }
  }
}

/* 카드 스타일 */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
}

/* 버튼 스타일 */
.button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.button:hover {
  background-color: #003f7f;
}

/* 태그 스타일 */
.tag {
  display: inline-block;
  background-color: #1f3f62;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}
.delete-btn {
  margin-left: 5px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 10px;
}
.tag:hover {
  background-color: #0056b3;
}

/* 컨테이너 스타일 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* 폼 스타일 */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* 예배 소식 박스 */
.news-box {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
}
